In [30]:
%matplotlib inline

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [31]:
# Files to load
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

In [32]:
city_data_df = pd.read_csv(city_data_to_load)
city_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [33]:
ride_data_df = pd.read_csv(ride_data_to_load)
ride_data_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

In [34]:
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          120 non-null    object
 1   driver_count  120 non-null    int64
 2   type          120 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.9+ KB

In [35]:
city_data_df['type'].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [36]:
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [45]:
pyber_data_df = pd.merge(ride_data_df, city_data_df, how='left', on=['city','city'])

pyber_data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2375 entries, 0 to 2374
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   city          2375 non-null   object
 1   date          2375 non-null   object
 2   fare          2375 non-null   float64
 3   ride_id       2375 non-null   int64
 4   driver_count  2375 non-null   int64
 5   type          2375 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 129.9+ KB